.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 1.5rem;
    width: 100%;
    height: 5rem;
    padding: 0 2rem;
    border-bottom: 0.1rem solid #7d7d7d40;
    background: var(--headerColor);
    color: var(--onHeaderColor);
    fill: var(--onHeaderColor);
    user-select: none;
}

.header button {
    color: var(--onHeaderColor);
    fill: var(--onHeaderColor);
}
