.appBar {
    display: flex;
    align-items: center;
    width: calc(100% - 2rem);
    height: 5rem;
    padding: 0 1rem;
    border-bottom: 0.1rem solid #7d7d7d40;
    background: var(--headerColor);
    color: var(--onHeaderColor);
    user-select: none;
}

.appBar svg line {
    stroke: var(--onHeaderColor);
}

.appBar svg circle {
    fill: var(--onHeaderColor);
}

.appBar svg circle[stroke-width] {
    fill: none;
    stroke: var(--onHeaderColor);
}

.appBar button {
    color: var(--onHeaderColor);
}
