@media screen and (max-width: 900px) {
    .appbar {
        display: none;
    }
    .navbar {
        display: flex;
    }
}

.main {
    border-bottom: 1px solid #cbd5e0c0;
    background-color: #e5e5f7;
    background-image: radial-gradient(#444cf72c 0.8px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    box-shadow: inset 0px -11px 16px -10px #7d7d7d90;
}
@media (prefers-color-scheme: dark) {
    .main {
        background-image: radial-gradient(#444cf72c 0.8px, #525251 0.5px);
    }
}
