.button {
    display: flex;
    align-items: center;
    line-height: 3rem;
    border: none;
    background: none;
    color: inherit;
    fill: inherit;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
}
.small {
    min-width: 3rem;
    height: 3rem;
    padding: 0 1.2rem;
    gap: 0.4rem;
    font-size: 1.2rem;
    --border-radius: 1.5rem;
}
.medium {
    min-width: 4rem;
    height: 4rem;
    padding: 0 1.8rem;
    gap: 0.8rem;
    font-size: 1.6rem;
    --border-radius: 2rem;
}
.large {
    min-width: 5rem;
    height: 5rem;
    padding: 0 2.6rem;
    gap: 1.1rem;
    font-size: 1.8rem;
    --border-radius: 2.5rem;
}

.iconButton {
    padding: 0;
    justify-content: center;
}

.none {
    border-radius: 0;
}
.semi {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
[dir="rtl"] .semi {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.rounded {
    border-radius: var(--border-radius);
}

@media (pointer: fine) {
    .button:hover {
        cursor: pointer;
        box-shadow: inset 0 0 10rem #7d7d7d20;
    }
}
.button:active {
    box-shadow: inset 0 0 10rem #7d7d7d30;
}
.button:invalid {
    border: 0.1rem solid var(--errorColor);
}

.outlined {
    border: 0.1rem solid #7d7d7d70;
}
.filled {
    background: var(--onBackgroundColor);
    color: var(--onPrimaryColor);
    fill: var(--onPrimaryColor);
}
.tonal {
    background: var(--onHeaderColor);
    color: var(--onSurfaceColor);
    fill: var(--onSurfaceColor);
}
.elevated {
    background-color: var(--onPrimaryColor);
    color: var(--onSurfaceColor);
    fill: var(--onSurfaceColor);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
