.button {
    padding: 0 1rem;
    line-height: 3rem;
    height: 3.6rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    background: none;
    color: var(--onBackgroundColor);
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
}
@media (pointer: fine) {
    .button:hover {
        cursor: pointer;
        box-shadow: inset 0 0 10rem #7d7d7d20;
    }
}
.button:active {
    box-shadow: inset 0 0 10rem #7d7d7d30;
}
.button:invalid {
    border: 0.1rem solid var(--errorColor);
}

.outlined {
    border: 0.1rem solid #7d7d7d60;
}
.filled {
    background: var(--onBackgroundColor);
    color: var(--onPrimaryColor);
}
