.field {
    position: relative;
}
.placeholder {
    position: absolute;
    top: 0rem;
    left: 1.2rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--onBackgroundColor, #000000);
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}
.input:placeholder-shown + .placeholder {
    top: 50%;
    font-size: 1.4rem;
    color: #7d7d7d;
}
.input:focus + .placeholder {
    top: 0rem;
    font-size: 1rem;
    color: var(--onBackgroundColor, #000000);
}

.input {
    width: 100%;
    padding: 1.2rem;
    border: none;
    outline: none;
    transition: border-color 0.3 ease;
    box-sizing: border-box;
    color: var(--onBackgroundColor, #000000);
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.input::after {
    font-size: 1.4rem;
    display: block;
    z-index: 10;
}

.input.standard {
    border-radius: 0.3rem 0.3rem 0 0;
    border-bottom: 0.2rem solid #7d7d7d;
    background-color: #7d7d7d10;
}
.input.standard:valid,
.input.standard:focus {
    border-color: var(--secondaryColor, #121212);
}

.input.outlined {
    border-radius: 0.5rem;
    border: 0.2rem solid #ddd;
    background: none;
}
.input.outlined + .placeholder {
    padding: 0 0.5rem;
}
.input.outlined + .placeholder {
    border-color: var(--onBackgroundColor, #000000);
    background: var(--backgroundColor, #ffffff);
}

.input.outlined:valid,
.input.outlined:focus + .placeholder {
    border-color: var(--onBackgroundColor, #000000);
    background: var(--backgroundColor, #ffffff);
}

.input.filled {
    border-radius: 0.5rem;
    background-color: #7d7d7d10;
    box-shadow: none;
}

.input:invalid {
    border-color: var(--errorColor, #b00020);
}

.input:invalid + .placeholder {
    color: var(--errorColor, #b00020);
}
.input.standard:focus:invalid {
    border-color: var(--errorColor, #b00020);
}
.input.filled:invalid {
    border-bottom: solid 0.2rem var(--errorColor, #b00020);
    border-radius: 0;
}
