.main {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    transition: width 0.3s;
}

.navOpen {
    width: calc(100% - 22rem);
}

@media screen and (max-width: 1000px) {
    .navOpen {
        width: 100%;
    }
}
