form {
    width: 100%;
}
label,
input,
select {
    padding: 0 0.7rem;
    margin: 0.5rem;
    line-height: 3rem;
    border: 0.1rem solid #0000;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    background: none;
    color: var(--onBackgroundColor);
    user-select: none;
}
input,
select {
    border: 0.1rem solid #7d7d7d7d;
}
input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
}
input {
    width: calc(100% - 2.6rem);
}
input,
input[type="checkbox"],
select {
    margin-inline-start: auto;
}
label {
    font-size: 1.3rem;
}
select {
    height: 3.2rem;
}

/* */
input[type="submit"]:hover,
select:hover {
    cursor: pointer;
}
@media (pointer: fine) {
    input[type="submit"]:hover {
        box-shadow: inset 0 0 10rem #7d7d7d20;
    }
}
input[type="submit"] {
    width: calc(100% - 1rem);
    border: 0.1rem solid var(--primaryColor);
    background: var(--primaryColor);
    color: var(--onPrimaryColor);
}
input[type="submit"]:hover {
    box-shadow: inset 0 0 10rem #7d7d7d60;
}
input[type="checkbox"]:focus {
    box-shadow: none;
}
input:invalid,
select:invalid {
    border: 0.1rem solid var(--errorColor);
}

input[disabled] {
    color: #7d7d7d;
}
form input + label {
    padding: 0 0.2rem;
    height: 1.2rem;
    margin: -4.3rem 1.3rem 0;
    border-radius: 0.3rem;
    line-height: 1.4rem;
    font-size: 0.9rem;
    background: #fff;
    color: #000;
}
form input:placeholder-shown + label {
    display: none;
}

form.nwaFromRequested {
    pointer-events: none;
}
form.nwaFromRequested input {
    box-shadow: inset 0 0 10rem #00000020;
}
form.nwaFromRequested input[type="submit"] {
    background: linear-gradient(
        -45deg,
        var(--primaryColor),
        var(--secondaryVariantColor),
        var(--primaryColor)
    );
    background-size: 200% 200%;
    color: var(--onPrimaryColor);
    animation: gradient 3s ease infinite;
    text-shadow: 0.1rem 0.1rem 0.1rem gray;
}
@keyframes gradient {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

input[type="range"] {
    appearance: none;
    height: 0.5rem;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: var(--onBackgroundColor);
    cursor: pointer;
}
