html {
    font-size: 62.5%;
    font-family: Tahoma;
}

body {
    margin: 0;
    background: var(--backgroundColor);
    color: var(--onBackgroundColor);
    scroll-behavior: smooth;
}

svg {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

body svg {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.7rem 0;
}

body header svg line {
    stroke: var(--onHeaderColor);
}

img {
    max-width: 100%;
    max-height: 100%;
}
hr {
    display: block;
    width: 100%;
    height: 0.1rem;
    margin: 0.3rem 0;
    border: 0;
    background: var(--secondaryVariantColor);
}

h1,
h2,
h3,
h4,
h5 {
    display: inline-block;
    margin: 0;
    margin-inline-end: auto;
    font-weight: normal;
}
h1 {
    line-height: 4rem;
    font-size: 2rem;
}
h2 {
    line-height: 4rem;
    font-size: 1.9rem;
}
h3 {
    line-height: 3.2rem;
    font-size: 1.8rem;
}
h4 {
    line-height: 3.2rem;
    font-size: 1.6rem;
}
h5 {
    line-height: 2.4rem;
    font-size: 1.5rem;
}
a {
    color: var(--primaryColor);
    text-decoration: underline;
}
a:hover,
a:active {
    cursor: pointer;
    color: var(--secondaryColor);
}
code {
    display: block;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    background: #7d7d7d7d;
}
