.page {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    background: var(--backgroundColor);
    color: var(--onBackgroundColor);
    fill: var(--onBackgroundColor);
}
