.blue {
    --LightPrimaryColor: 11 87 208;
    --LightPrimaryContainerColor: 211 227 253;
    --LightSecondaryColor: 98 91 113;
    --LightSecondaryContainerColor: 232 222 248;
    --LightTertiaryColor: 196 238 208;
    --LightSurfaceColor: 34 34 34;
    --LightErrorColor: 179 38 30;
    --LightErrorContainerColor: 249 222 220;
    --LightOnPrimaryColor: 255 255 255;
    --LightOnPrimaryContainerColor: 4 30 73;
    --LightOnSecondaryColor: 255 255 255;
    --LightOnSecondaryContainerColor: 30 25 43;
    --LightOnTertiaryColor: 7 39 17;
    --LightOnErrorColor: 255 255 255;
    --LightOnErrorContainerColor: 65 14 11;
    /* neutral colors */
    --LightSurfaceColor: 254 247 255;
    --LightSurfaceVariantColor: 231 224 236;
    --LightSurfaceDimColor: 222 216 225;
    --LightSurfaceBrightColor: 254 247 255;
    --LightSurfaceContainerLowestColor: 255 255 255;
    --LightSurfaceContainerLowColor: 247 242 250;
    --LightSurfaceContainerColor: 243 237 247;
    --LightSurfaceContainerHightColor: 236 230 240;
    --LightSurfaceContainerHighestColor: 230 224 233;
    --LightOnSurfaceColor: 28 27 31;
    --LightOnSurfaceVariantColor: 73 69 78;
    --LightOutlineColor: 121 116 126;
    --LightOutlineVariantColor: 196 199 197;

    --DarkPrimaryColor: 168 199 250;
    --DarkPrimaryContainerColor: 8 66 160;
    --DarkSecondaryColor: 204 194 220;
    --DarkSecondaryContainerColor: 232 222 248;
    --DarkTertiaryColor: 7 39 17;
    --DarkErrorColor: 242 184 181;
    --DarkErrorContainerColor: 140 29 24;
    --DarkOnPrimaryColor: 6 46 111;
    --DarkOnPrimaryContainerColor: 211 227 253;
    --DarkOnSecondaryColor: 51 45 65;
    --DarkOnSecondaryContainerColor: 232 222 248;
    --DarkOnTertiaryColor: 196 238 208;
    --DarkOnErrorColor: 96 20 16;
    --DarkOnErrorContainerColor: 249 222 220;
    /* neutral colors */
    --DarkSurfaceColor: 20 18 24;
    --DarkSurfaceVariantColor: 73 69 79;
    --DarkSurfaceDimColor: 20 18 24;
    --DarkSurfaceBrightColor: 59 56 62;
    --DarkSurfaceContainerLowestColor: 15 13 19;
    --DarkSurfaceContainerLowColor: 29 27 32;
    --DarkSurfaceContainerColor: 33 31 38;
    --DarkSurfaceContainerHightColor: 43 41 48;
    --DarkSurfaceContainerHighestColor: 54 52 59;
    --DarkOnSurfaceColor: 230 225 229;
    --DarkOnSurfaceVariantColor: 202 196 208;
    --DarkOutlineColor: 147 143 153;
    --DarkOutlineVariantColor: 68 71 70;
}
.green {
    --LightPrimaryColor: 56 106 32;
    --LightPrimaryContainerColor: 184 243 151;
    --LightSecondaryColor: 98 91 113;
    --LightSecondaryContainerColor: 232 222 248;
    --LightTertiaryColor: 187 235 235;
    --LightErrorColor: 179 38 30;
    --LightErrorContainerColor: 249 222 220;
    --LightOnPrimaryColor: 255 255 255;
    --LightOnPrimaryContainerColor: 4 33 0;
    --LightOnSecondaryColor: 255 255 255;
    --LightOnSecondaryContainerColor: 30 25 43;
    --LightOnTertiaryColor: 0 32 33;
    --LightOnErrorColor: 255 255 255;
    --LightOnErrorContainerColor: 65 14 11;
    /* neutral colors */
    --LightSurfaceColor: 254 247 255;
    --LightSurfaceVariantColor: 231 224 236;
    --LightSurfaceDimColor: 222 216 225;
    --LightSurfaceBrightColor: 254 247 255;
    --LightSurfaceContainerLowestColor: 255 255 255;
    --LightSurfaceContainerLowColor: 247 242 250;
    --LightSurfaceContainerColor: 243 237 247;
    --LightSurfaceContainerHightColor: 236 230 240;
    --LightSurfaceContainerHighestColor: 230 224 233;
    --LightOnSurfaceColor: 28 27 31;
    --LightOnSurfaceVariantColor: 73 69 78;
    --LightOutlineColor: 121 116 126;
    --LightOutlineVariantColor: 196 199 197;

    --DarkPrimaryColor: 156 214 125;
    --DarkPrimaryContainerColor: 32 81 7;
    --DarkSecondaryColor: 204 194 220;
    --DarkSecondaryContainerColor: 232 222 248;
    --DarkTertiaryColor: 0 32 33;
    --DarkErrorColor: 242 184 181;
    --DarkErrorContainerColor: 140 29 24;
    --DarkOnPrimaryColor: 12 57 0;
    --DarkOnPrimaryContainerColor: 184 243 151;
    --DarkOnSecondaryColor: 51 45 65;
    --DarkOnSecondaryContainerColor: 232 222 248;
    --DarkOnTertiaryColor: 187 235 235;
    --DarkOnErrorColor: 96 20 16;
    --DarkOnErrorContainerColor: 249 222 220;
    /* neutral colors */
    --DarkSurfaceColor: 20 18 24;
    --DarkSurfaceVariantColor: 73 69 79;
    --DarkSurfaceDimColor: 20 18 24;
    --DarkSurfaceBrightColor: 59 56 62;
    --DarkSurfaceContainerLowestColor: 15 13 19;
    --DarkSurfaceContainerLowColor: 29 27 32;
    --DarkSurfaceContainerColor: 33 31 38;
    --DarkSurfaceContainerHightColor: 43 41 48;
    --DarkSurfaceContainerHighestColor: 54 52 59;
    --DarkOnSurfaceColor: 230 225 229;
    --DarkOnSurfaceVariantColor: 202 196 208;
    --DarkOutlineColor: 147 143 153;
    --DarkOutlineVariantColor: 68 71 70;
}

.pink {
    --LightPrimaryColor: 156 65 70;
    --LightPrimaryContainerColor: 255 218 219;
    --LightSecondaryColor: 98 91 113;
    --LightSecondaryContainerColor: 232 222 248;
    --LightTertiaryColor: 255 221 170;
    --LightErrorColor: 179 38 30;
    --LightErrorContainerColor: 249 222 220;
    --LightOnPrimaryColor: 255 255 255;
    --LightOnPrimaryContainerColor: 64 0 8;
    --LightOnSecondaryColor: 255 255 255;
    --LightOnSecondaryContainerColor: 30 25 43;
    --LightOnTertiaryColor: 40 24 0;
    --LightOnErrorColor: 255 255 255;
    --LightOnErrorContainerColor: 65 14 11;
    /* neutral colors */
    --LightSurfaceColor: 254 247 255;
    --LightSurfaceVariantColor: 231 224 236;
    --LightSurfaceDimColor: 222 216 225;
    --LightSurfaceBrightColor: 254 247 255;
    --LightSurfaceContainerLowestColor: 255 255 255;
    --LightSurfaceContainerLowColor: 247 242 250;
    --LightSurfaceContainerColor: 243 237 247;
    --LightSurfaceContainerHightColor: 236 230 240;
    --LightSurfaceContainerHighestColor: 230 224 233;
    --LightOnSurfaceColor: 28 27 31;
    --LightOnSurfaceVariantColor: 73 69 78;
    --LightOutlineColor: 121 116 126;
    --LightOutlineVariantColor: 196 199 197;

    --DarkPrimaryColor: 255 179 181;
    --DarkPrimaryContainerColor: 125 42 48;
    --DarkSecondaryColor: 204 194 220;
    --DarkSecondaryContainerColor: 232 222 248;
    --DarkTertiaryColor: 40 24 0;
    --DarkErrorColor: 242 184 181;
    --DarkErrorContainerColor: 140 29 24;
    --DarkOnPrimaryColor: 95 18 27;
    --DarkOnPrimaryContainerColor: 255 218 219;
    --DarkOnSecondaryColor: 51 45 65;
    --DarkOnSecondaryContainerColor: 232 222 248;
    --DarkOnTertiaryColor: 255 221 170;
    --DarkOnErrorColor: 96 20 16;
    --DarkOnErrorContainerColor: 249 222 220;
    /* neutral colors */
    --DarkSurfaceColor: 20 18 24;
    --DarkSurfaceVariantColor: 73 69 79;
    --DarkSurfaceDimColor: 20 18 24;
    --DarkSurfaceBrightColor: 59 56 62;
    --DarkSurfaceContainerLowestColor: 15 13 19;
    --DarkSurfaceContainerLowColor: 29 27 32;
    --DarkSurfaceContainerColor: 33 31 38;
    --DarkSurfaceContainerHightColor: 43 41 48;
    --DarkSurfaceContainerHighestColor: 54 52 59;
    --DarkOnSurfaceColor: 230 225 229;
    --DarkOnSurfaceVariantColor: 202 196 208;
    --DarkOutlineColor: 147 143 153;
    --DarkOutlineVariantColor: 68 71 70;
}

.growth {
    --LightPrimaryColor: 97 98 0;
    --LightPrimaryContainerColor: 232 233 113;
    --LightSecondaryColor: 98 91 113;
    --LightSecondaryContainerColor: 232 222 248;
    --LightTertiaryColor: 191 237 217;
    --LightErrorColor: 179 38 30;
    --LightErrorContainerColor: 249 222 220;
    --LightOnPrimaryColor: 255 255 255;
    --LightOnPrimaryContainerColor: 29 29 0;
    --LightOnSecondaryColor: 255 255 255;
    --LightOnSecondaryContainerColor: 30 25 43;
    --LightOnTertiaryColor: 0 33 23;
    --LightOnErrorColor: 255 255 255;
    --LightOnErrorContainerColor: 65 14 11;
    /* neutral colors */
    --LightSurfaceColor: 254 247 255;
    --LightSurfaceVariantColor: 231 224 236;
    --LightSurfaceDimColor: 222 216 225;
    --LightSurfaceBrightColor: 254 247 255;
    --LightSurfaceContainerLowestColor: 255 255 255;
    --LightSurfaceContainerLowColor: 247 242 250;
    --LightSurfaceContainerColor: 243 237 247;
    --LightSurfaceContainerHightColor: 236 230 240;
    --LightSurfaceContainerHighestColor: 230 224 233;
    --LightOnSurfaceColor: 28 27 31;
    --LightOnSurfaceVariantColor: 73 69 78;
    --LightOutlineColor: 121 116 126;
    --LightOutlineVariantColor: 196 199 197;

    --DarkPrimaryColor: 203 204 88;
    --DarkPrimaryContainerColor: 73 74 0;
    --DarkSecondaryColor: 204 194 220;
    --DarkSecondaryContainerColor: 232 222 248;
    --DarkTertiaryColor: 0 33 23;
    --DarkErrorColor: 242 184 181;
    --DarkErrorContainerColor: 140 29 24;
    --DarkOnPrimaryColor: 50 50 0;
    --DarkOnPrimaryContainerColor: 232 233 113;
    --DarkOnSecondaryColor: 51 45 65;
    --DarkOnSecondaryContainerColor: 232 222 248;
    --DarkOnTertiaryColor: 191 237 217;
    --DarkOnErrorColor: 96 20 16;
    --DarkOnErrorContainerColor: 249 222 220;
    /* neutral colors */
    --DarkSurfaceColor: 20 18 24;
    --DarkSurfaceVariantColor: 73 69 79;
    --DarkSurfaceDimColor: 20 18 24;
    --DarkSurfaceBrightColor: 59 56 62;
    --DarkSurfaceContainerLowestColor: 15 13 19;
    --DarkSurfaceContainerLowColor: 29 27 32;
    --DarkSurfaceContainerColor: 33 31 38;
    --DarkSurfaceContainerHightColor: 43 41 48;
    --DarkSurfaceContainerHighestColor: 54 52 59;
    --DarkOnSurfaceColor: 230 225 229;
    --DarkOnSurfaceVariantColor: 202 196 208;
    --DarkOutlineColor: 147 143 153;
    --DarkOutlineVariantColor: 68 71 70;
}
.purple {
    --LightPrimaryColor: 103 80 164;
    --LightPrimaryContainerColor: 234 221 255;
    --LightSecondaryColor: 98 91 113;
    --LightSecondaryContainerColor: 232 222 248;
    --LightTertiaryColor: 125 82 96;
    --LightTertiaryContainerColor: 255 216 228;
    --LightSurfaceColor: 34 34 34;
    --LightErrorColor: 179 38 30;
    --LightErrorContainerColor: 249 222 220;
    --LightOnPrimaryColor: 255 255 255;
    --LightOnPrimaryContainerColor: 33 0 94;
    --LightOnSecondaryColor: 255 255 255;
    --LightOnSecondaryContainerColor: 30 25 43;
    --LightOnTertiaryColor: 255 255 255;
    --LightOnTertiaryContainerColor: 55 11 30;
    --LightOnErrorColor: 255 255 255;
    --LightOnErrorContainerColor: 65 14 11;
    /* neutral colors */
    --LightSurfaceColor: 254 247 255;
    --LightSurfaceVariantColor: 231 224 236;
    --LightSurfaceDimColor: 222 216 225;
    --LightSurfaceBrightColor: 254 247 255;
    --LightSurfaceContainerLowestColor: 255 255 255;
    --LightSurfaceContainerLowColor: 247 242 250;
    --LightSurfaceContainerColor: 243 237 247;
    --LightSurfaceContainerHightColor: 236 230 240;
    --LightSurfaceContainerHighestColor: 230 224 233;
    --LightOnSurfaceColor: 28 27 31;
    --LightOnSurfaceVariantColor: 73 69 78;
    --LightOutlineColor: 121 116 126;
    --LightOutlineVariantColor: 196 199 197;

    --DarkPrimaryColor: 208 188 255;
    --DarkPrimaryContainerColor: 79 55 139;
    --DarkSecondaryColor: 204 194 220;
    --DarkSecondaryContainerColor: 232 222 248;
    --DarkTertiaryColor: 239 184 200;
    --DarkTertiaryContainerColor: 99 59 72;
    --DarkErrorColor: 242 184 181;
    --DarkErrorContainerColor: 140 29 24;
    --DarkOnPrimaryColor: 55 30 115;
    --DarkOnPrimaryContainerColor: 234 221 255;
    --DarkOnSecondaryColor: 51 45 65;
    --DarkOnSecondaryContainerColor: 232 222 248;
    --DarkOnTertiaryColor: 73 37 50;
    --DarkOnTertiaryContainerColor: 255 216 228;
    --DarkOnErrorColor: 96 20 16;
    --DarkOnErrorContainerColor: 249 222 220;
    /* neutral colors */
    --DarkSurfaceColor: 20 18 24;
    --DarkSurfaceVariantColor: 73 69 79;
    --DarkSurfaceDimColor: 20 18 24;
    --DarkSurfaceBrightColor: 59 56 62;
    --DarkSurfaceContainerLowestColor: 15 13 19;
    --DarkSurfaceContainerLowColor: 29 27 32;
    --DarkSurfaceContainerColor: 33 31 38;
    --DarkSurfaceContainerHightColor: 43 41 48;
    --DarkSurfaceContainerHighestColor: 54 52 59;
    --DarkOnSurfaceColor: 230 225 229;
    --DarkOnSurfaceVariantColor: 202 196 208;
    --DarkOutlineColor: 147 143 153;
    --DarkOutlineVariantColor: 68 71 70;
}

.system,
.light {
    --primaryColor: var(--LightPrimaryColor);
    --primaryContainerColor: var(--LightPrimaryContainerColor);
    --secondaryColor: var(--LightSecondaryColor);
    --secondaryContainerColor: var(--LightSecondaryContainerColor);
    --tertiaryColor: var(--LightTertiaryColor);
    --errorColor: var(--LightErrorColor);
    --errorContainerColor: var(--LightErrorContainerColor);
    --onPrimaryColor: var(--LightOnPrimaryColor);
    --onPrimaryContainerColor: var(--LightOnPrimaryContainerColor);
    --onSecondaryColor: var(--LightOnSecondaryColor);
    --onSecondaryContainerColor: var(--LightOnSecondaryContainerColor);
    --onTertiaryColor: var(--LightOnTertiaryColor);
    --onErrorColor: var(--LightOnErrorColor);
    --onErrorContainerColor: var(--LightOnErrorContainerColor);
    --surfaceColor: var(--LightSurfaceColor);
    --surfaceVariantColor: var(--LightSurfaceVariantColor);
    --surfaceDimColor: var(--LightSurfaceDimColor);
    --surfaceBrightColor: var(--LightSurfaceBrightColor);
    --surfaceContainerLowestColor: var(--LightSurfaceContainerLowestColor);
    --surfaceContainerLowColor: var(--LightSurfaceContainerLowColor);
    --surfaceContainerColor: var(--LightSurfaceContainerColor);
    --surfaceContainerHightColor: var(--LightSurfaceContainerHightColor);
    --surfaceContainerHighestColor: var(--LightSurfaceContainerHighestColor);
    --onSurfaceColor: var(--LightOnSurfaceColor);
    --onSurfaceRGBColor: var(--LightOnSurfaceRGBColor);
    --onSurfaceVariantColor: var(--LightOnSurfaceVariantColor);
    --outlineColor: var(--LightOutlineColor);
    --outlineVariantColor: var(--LightOutlineVariantColor);
}
.dark {
    --primaryColor: var(--DarkPrimaryColor);
    --primaryContainerColor: var(--DarkPrimaryContainerColor);
    --secondaryColor: var(--DarkSecondaryColor);
    --secondaryContainerColor: var(--DarkSecondaryContainerColor);
    --tertiaryColor: var(--DarkTertiaryColor);
    --errorColor: var(--DarkErrorColor);
    --errorContainerColor: var(--DarkErrorContainerColor);
    --onPrimaryColor: var(--DarkOnPrimaryColor);
    --onPrimaryContainerColor: var(--DarkOnPrimaryContainerColor);
    --onSecondaryColor: var(--DarkOnSecondaryColor);
    --onSecondaryContainerColor: var(--DarkOnSecondaryContainerColor);
    --onTertiaryColor: var(--DarkOnTertiaryColor);
    --onErrorColor: var(--DarkOnErrorColor);
    --onErrorContainerColor: var(--DarkOnErrorContainerColor);
    --surfaceColor: var(--DarkSurfaceColor);
    --surfaceVariantColor: var(--DarkSurfaceVariantColor);
    --surfaceDimColor: var(--DarkSurfaceDimColor);
    --surfaceBrightColor: var(--DarkSurfaceBrightColor);
    --surfaceContainerLowestColor: var(--DarkSurfaceContainerLowestColor);
    --surfaceContainerLowColor: var(--DarkSurfaceContainerLowColor);
    --surfaceContainerColor: var(--DarkSurfaceContainerColor);
    --surfaceContainerHightColor: var(--DarkSurfaceContainerHightColor);
    --surfaceContainerHighestColor: var(--DarkSurfaceContainerHighestColor);
    --onSurfaceColor: var(--DarkOnSurfaceColor);
    --onSurfaceRGBColor: var(--DarkOnSurfaceRGBColor);
    --onSurfaceVariantColor: var(--DarkOnSurfaceVariantColor);
    --outlineColor: var(--DarkOutlineColor);
    --outlineVariantColor: var(--DarkOutlineVariantColor);
}
@media (prefers-color-scheme: dark) {
    .system {
        --primaryColor: var(--DarkPrimaryColor);
        --primaryContainerColor: var(--DarkPrimaryContainerColor);
        --secondaryColor: var(--DarkSecondaryColor);
        --secondaryContainerColor: var(--DarkSecondaryContainerColor);
        --tertiaryColor: var(--DarkTertiaryColor);
        --errorColor: var(--DarkErrorColor);
        --errorContainerColor: var(--DarkErrorContainerColor);
        --onPrimaryColor: var(--DarkOnPrimaryColor);
        --onPrimaryContainerColor: var(--DarkOnPrimaryContainerColor);
        --onSecondaryColor: var(--DarkOnSecondaryColor);
        --onSecondaryContainerColor: var(--DarkOnSecondaryContainerColor);
        --onTertiaryColor: var(--DarkOnTertiaryColor);
        --onErrorColor: var(--DarkOnErrorColor);
        --onErrorContainerColor: var(--DarkOnErrorContainerColor);
        --surfaceColor: var(--DarkSurfaceColor);
        --surfaceVariantColor: var(--DarkSurfaceVariantColor);
        --surfaceDimColor: var(--DarkSurfaceDimColor);
        --surfaceBrightColor: var(--DarkSurfaceBrightColor);
        --surfaceContainerLowestColor: var(--DarkSurfaceContainerLowestColor);
        --surfaceContainerLowColor: var(--DarkSurfaceContainerLowColor);
        --surfaceContainerColor: var(--DarkSurfaceContainerColor);
        --surfaceContainerHightColor: var(--DarkSurfaceContainerHightColor);
        --surfaceContainerHighestColor: var(--DarkSurfaceContainerHighestColor);
        --onSurfaceColor: var(--DarkOnSurfaceColor);
        --onSurfaceRGBColor: var(--DarkOnSurfaceRGBColor);
        --onSurfaceVariantColor: var(--DarkOnSurfaceVariantColor);
        --outlineColor: var(--DarkOutlineColor);
        --outlineVariantColor: var(--DarkOutlineVariantColor);
    }
}