.list {
    display: flex;
    list-style-type: none;
    max-height: 100rem;
    padding: 0;
    transition: max-height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    box-sizing: border-box;
}

.collapsed {
    max-height: 0;
    overflow: hidden;
}
