.navigation {
    position: fixed;
    width: 21.9rem;
    height: 100%;
    line-height: 3.2rem;
    transition: right 0.3s, left 0.3s;
    border-inline-end: 0.1rem solid #7d7d7d40;
    background: var(--backgroundColor);
    left: -24rem;
}

.navigation.open {
    left: 0;
}

@media screen and (max-width: 1000px) {
    .navigation {
        top: 0;
        height: 100%;
    }
}
