.navigation {
    position: fixed;
    max-width: 100%;
    transition: transform 0.3s;
    background: var(--backgroundColor);
    overflow-y: auto;
}

.auto,
.left {
    top: 5.1rem;
    left: 0;
    width: 21.9rem;
    height: calc(100% - 5.1rem);
    max-height: 100%;
    border-inline-end: 0.2rem solid #7d7d7d40;
    transform: translate(-100%, 0);
}
[dir="rtl"] .auto,
.right {
    right: 0;
    top: 5.1rem;
    width: 21.9rem;
    height: calc(100% - 5.1rem);
    max-height: 100%;
    border-inline-end: 0.2rem solid #7d7d7d40;
    transform: translate(100%, 0);
}

.top {
    top: 0;
    width: 100%;
    height: auto;
    border-bottom: 0.2rem solid #7d7d7d40;
    transform: translate(0, -100%);
}
.bottom {
    bottom: 0;
    width: 100%;
    height: auto;
    border-top: 0.2rem solid #7d7d7d40;
    transform: translate(0, 100%);
}

.open {
    transform: translate(0, 0);
}

@media screen and (max-width: 1000px) {
    .auto,
    .left,
    .right {
        top: 0;
        height: 100%;
    }
}
