@media (prefers-color-scheme: light) {
    .page {
        background: var(--surfaceColor);
    }
}

.header {
    display: none;
}

@media screen and (min-width: 900px) {
    .header {
        display: block;
        height: 17rem;
    }

    .main {
        max-width: 35rem;
        padding: 3rem 2rem;
        margin: -8rem;
        border-radius: 2rem;
        background: var(--surfaceColor);
        box-shadow: var(--secondaryColor) 0 0 1rem;
    }
    @media (prefers-color-scheme: light) {
        .page {
            background: #e9e9e9;
        }
    }
}
