html {
    --primaryColor: #222222;
    --primaryVariantColor: #303030;
    --secondaryColor: #aa8a59;
    --secondaryVariantColor: #aa8a59;
    --headerColor: #222222;
    --onHeaderColor: #e9e9e9;

    font-size: 62.5%;
}

body {
    margin: 0;
}
